.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: rgb(225, 158, 77);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

@media (min-width: 768px){
  .page-header{
    margin-left: 2%;
    border-radius: 5%;
    margin-top: 140px;
    float:left;
    width: 30%;
  }
  .new-tweet{
    float:right;
    width:70%;
  }
}