/* <section class="new-tweet">
<h2>Compose Tweet</h2>
<form method="POST" action="/tweets">
  <label for="tweet-text">What are you humming about?</label>
  <textarea name="text" id="tweet-text"></textarea>
  <div>
    <button type="submit">Tweet</button>
    <output name="counter" class="counter" for="tweet-text">140</output>
  </div>
</form>
</section> */


.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet-form {
  display:flex;
  flex-direction: column;
}

.input {
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid;
  border-bottom-color: #545149;
  border-width: 5px;
  margin-bottom: 15px;
  height: 2em;
  outline:none;
  resize: none;
}

.button-char-count{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-top: 0.5em;
}

.tweet-button {
  background-color:#4056A1;
  color: white;
  cursor: pointer;
}

::placeholder {
  margin-left: 50px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: large;
}

.errors {
  display:none;
  justify-content: center;
  margin: 30px 0;
  padding: 10px;
  border: red 5px solid;
  background-color: #f4f1ec; 
  color: red; 
  width: 100%;
}
@media (max-width: 768px) {
  ::placeholder {
    font-size: small;
  }
}