article {
  border: 5px solid #545149;
  margin-top: 30px;
}

hr {
  margin: 2em;
  font-size: 25%;
  border: 0px;
  border-bottom: 5px solid #545149;
}

header {
  display: flex;
 justify-content: space-between;
 align-items: center;
 padding:10px;
}

header>div {
  display: flex;
  align-items: center;
}

header>div>i {
  padding-left: 15px;
}
header span {
  padding:10px;
}
footer {
  padding-bottom: 10px;
}

footer>div {
  display:flex;
  justify-content: space-between;
  padding: 0px 10px 5px 10px;
  font-size: medium;
}

footer>div>div {
  display: flex;
  justify-content: space-evenly;
  width:100px;
  font-size: large;
  color: #4056A1;
}

p {
margin: 5px;
padding: 10px;
overflow-wrap: anywhere;
}

.likes {
  font-size: x-small;
  align-self: flex-start;
}

article:hover {
  box-shadow: 5px 5px #87847e;
}

 .fa-flag:hover {
  color:olive
 }
 .fa-retweet:hover {
  color:olive
 }
 .fa-heart:hover {
  color:olive
 }

 #down-arrow {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}